<!doctype html>
<html ng-csp ng-app="summit" ng-controller="AppCtrl as app" ng-class="{'state-ready': ready}">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width" height="device-height" user-scalable="no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" type="image/png" href="/img/icon-32.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icon-152.png">
    <meta name="og:type" content="website">
    <meta name="og:image" content="/img/icon-152.png">
    <meta name="og:title" content="Mozilla Summit">
    <meta name="og:description" content="The Summit is a human conference. A meet-up of grand proportions. A full 72 hours/4,320 minutes/259,200 seconds of magic, wholly dedicated to our awesome community (that's you).">
    <title>Mozilla Summit 2013</title>
    <link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <section class="container">
      <div class="row content">
        <article class="col-sm-8 col-sm-offset-2">
          <h1>Need help?</h1>

          <h3>If you need help with the summit app</h3>
          <p>
            Having trouble logging in? Can't find what you're looking for? Email <a href="mailto:summit2013-app@mozilla.com">summit2013-app@mozilla.com</a> or <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Community%20Tools&component=Account%20Help">file an account help bug</a>.
          </p>

          <h3>If you need some other kind of help</h3>
          <p>
            Check out the <a href="/#!/around">Tips and Random Bits</a> section or look for a friendly Mozilla Site Host in a blue sweatshirt. Alternatively, you can email: <a href="mailto:mozillabrussels@shworldwide.com">mozillabrussels@shworldwide.com</a> OR <a href="mailto:mozillatoronto@shworldwide.com">mozillatoronto@shworldwide.com</a> OR <a href="mailto:mozillasantaclara@shworldwide.com">mozillasantaclara@shworldwide.com</a>. There are lots of people here to help, know that. 
          </p>

        </article>
      </div>
    </section>
  </body>
</html>
