<!doctype html>
<html ng-csp ng-app="summit" ng-controller="AppCtrl as app" ng-class="{'state-ready': ready}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="icon" type="image/png" href="/img/icon-32.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icon-152.png">
	<meta name="og:type" content="website">
	<meta name="og:image" content="/img/icon-152.png">
	<meta name="og:title" content="Mozilla Summit">
	<meta name="og:description" content="The Summit is a human conference. A meet-up of grand proportions. A full 72 hours/4,320 minutes/259,200 seconds of magic, wholly dedicated to our awesome community (that's you).">
	<title>Mozilla Summit 2013</title>
	<meta name="fragment" content="!">
	{{{css}}}
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35433268-40']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body data-payload='{{{jsonPayload}}}'>
	<header class="container" role="banner">
		<nav class="row" ng-show="user">
			<div class="col-sm-8 col-sm-offset-2">
				<a href="#!/" class="menu-icn menu-back" ng-show="path != '/'"></a>
				<ul>
					<li>
						<a href="#" class="menu-icn menu-dropdown"></a>
						<ul>
							<li>
								<a href="#/!/" ng-show="canInstall" ng-click="install()">Install App</a>
							</li>
							<li>
								<a href="/privacy" target="_blank">Privacy Policy</a>
							</li>
							<li>
								<a href="/#!/logout">Logout</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<main class="container" role="main">
		<div ng-view></div>
	</main>
	<div id="splash-screen">
		<img src="/img/splash.png" alt="Splash">
		<progress></progress>
	</div>
	{{{js}}}
</body>
</html>
