<!doctype html>
<html ng-app="summit" ng-controller="AppCtrl as app" ng-class="{'state-ready': ready}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width">
	<title>Mozilla Summit</title>
	<meta name="fragment" content="!">

	<!-- CSS -->
	<link rel="stylesheet" href="css/vendor/bootstrap.css" />
	<link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<header class="container" role="banner">
		<nav class="row" ng-show="user">
			<a href="#!/" class="menu-icn menu-back" ng-show="path != '/'"></a>
			<ul>
				<li>
					<a href="#" class="menu-icn menu-dropdown"></a>
					<ul>
						<li>
							<a href="/#!/logout">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>

	<main class="container" role="main">
		<div ng-view></div>
	</main>

	<div id="splash-screen">
		<img src="/img/splash.png" alt="Splash" />
	</div>

	<!-- Scripts -->
	<script src="js/vendor/jquery.js"></script>
	<script src="//code.angularjs.org/1.2.0-rc.2/angular.js"></script>
	<script src="//code.angularjs.org/1.2.0-rc.2/angular-route.js"></script>
	<script src="js/app.js"></script>
	<script>
		bootstrapApp({{{jsonPayload}}});
	</script>
</body>
</html>