<!doctype html>
<html ng-csp ng-app="summit" ng-controller="AppCtrl as app" ng-class="{'state-ready': ready}">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width" height="device-height" user-scalable="no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" type="image/png" href="/img/icon-32.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icon-152.png">
    <meta name="og:type" content="website">
    <meta name="og:image" content="/img/icon-152.png">
    <meta name="og:title" content="Mozilla Summit">
    <meta name="og:description" content="The Summit is a human conference. A meet-up of grand proportions. A full 72 hours/4,320 minutes/259,200 seconds of magic, wholly dedicated to our awesome community (that's you).">
    <title>Mozilla Summit 2013</title>
    <link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <section class="container">
      <div class="row content">
        <article class="col-sm-8 col-sm-offset-2">
          <h1>Privacy Policy</h1>

          <p>The Summit app is designed to enhance your Summit experience. The four features are: a schedule of events, information for getting around, a Healthy Dialog breakfast activity that assigns Mozillians to groups each day, and a 3 Questions response form to measure the pulse of the collective Summit experience.</p>

          <p>We care about your privacy and you should know the following:</p>

          <p>If you choose to respond to the optional 3 Questions response form, your responses will be collected by Mozilla and used as described in this notice.</p>

          <p>Your list of positive impact people and Healthy Dialog groupings will be stored with your mozillians.org username so that it can be made available to you after the Summit.</p>

          <p>Mozilla will use your responses to analyze and share aggregate connections amongst Mozillians. You can request deletion of this data at any time by contacting <a href="mailto:summit2013-app@mozilla.com">summit2013-app@mozilla.com</a>.</p>

          <p>This app is integrated with Persona and mozillians.org, our community directory. Their privacy policies apply and can be found at: <a href="http://www.mozilla.org/persona/privacy-policy/" target="_blank">http://www.mozilla.org/persona/privacy-policy/</a> <a href="http://mozilla.org/privacy-policy.html" target="_blank">http://mozilla.org/privacy-policy.html</a></p>
        </article>
      </div>
    </section>
  </body>
</html>
