@font-face {
  font-family: 'Open Sans Light';
  src: url("/fonts/OpenSans-Light-webfont.eot");
  src: url("/fonts/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Light-webfont.woff") format('woff'), url("/fonts/OpenSans-Light-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Light-webfont.svg#OpenSansLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url("/fonts/OpenSans-Regular-webfont.eot");
  src: url("/fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Regular-webfont.woff") format('woff'), url("/fonts/OpenSans-Regular-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url("/fonts/OpenSans-LightItalic-webfont.eot");
  src: url("/fonts/OpenSans-LightItalic-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-LightItalic-webfont.woff") format('woff'), url("/fonts/OpenSans-LightItalic-webfont.ttf") format('truetype'), url("/fonts/OpenSans-LightItalic-webfont.svg#OpenSansRegular") format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Regular-webfont.eot");
  src: url("/fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Regular-webfont.woff") format('woff'), url("/fonts/OpenSans-Regular-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url("/fonts/OpenSans-Semibold-webfont.eot");
  src: url("/fonts/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Semibold-webfont.woff") format('woff'), url("/fonts/OpenSans-Semibold-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Bold-webfont.eot");
  src: url("/fonts/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Bold-webfont.woff") format('woff'), url("/fonts/OpenSans-Bold-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Italic-webfont.eot");
  src: url("/fonts/OpenSans-Italic-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Italic-webfont.woff") format('woff'), url("/fonts/OpenSans-Italic-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
.huge,
.large {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: normal;
  display: block;
  margin: 0 0 12px 0;
  line-height: 100%;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
  color: #484848;
}
.huge,
.huge h1 {
  font-size: 108px;
  letter-spacing: -4px;
  line-height: 100%;
}
.large,
.large h1 {
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 100%;
}
h1,
.huge h2,
.large h2,
.billboard h2 {
  font-size: 48px;
  letter-spacing: -2px;
}
h2 {
  font-size: 32px;
  letter-spacing: -1px;
}
h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.25px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
.small,
small {
  font-size: 12px;
  line-height: 16px;
}
.lead {
  font-size: 18px;
  color: #666;
  font-family: 'Open Sans Light', sans-serif;
}
.text-center {
  text-align: center;
}
.text-muted {
  color: #666;
}
.text-warning {
  color: #af3232;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
  background: url("/img/background.png") no-repeat, url("/img/back-repeat.jpg") repeat-x 0 0, #f5f1e8;
}
.tt-hint {
  display: none;
}
h2,
.subtitle h3 {
  font-family: Montserrat;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}
h2 {
  color: #12aae1;
  font-size: 42px;
  margin-bottom: 30px;
}
.content {
  background-color: #fff;
  padding-top: 1px;
  padding-bottom: 18px;
}
.subtitle {
  background-color: #ffcd02;
}
.subtitle h3 {
  color: #555559;
  font-size: 28px;
  height: 50px;
  font-weight: normal;
  text-align: center;
}
.subtitle h3 span {
  display: block;
  line-height: 50px;
}
.subtitle h3 a:nth-child(2) {
  float: right;
}
.subtitle h3 a:nth-child(1) {
  float: left;
}
.title-icon {
  display: block;
  margin: 0 auto 20px auto;
  width: 140px;
}
.icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 0;
  height: 50px;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.icon i {
  color: #555559;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
}
a {
  color: #0095dd;
  text-decoration: none;
}
a:hover,
a:active {
  color: #00539f;
  text-decoration: underline;
}
a.row {
  display: block;
  padding: 12px 0;
}
.curr-location .details {
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  clear: both;
  display: none;
  float: left;
  padding: 20px;
  position: relative;
  width: 100%;
}
.curr-location .details .description {
  display: none;
}
.curr-location .details .expander {
  color: #555559;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 25px;
  line-height: 32px;
  position: absolute;
  text-decoration: none;
  z-index: 2;
}
.curr-location .details.less span.less {
  display: none;
}
.curr-location .details.more {
  background-color: #fafafa;
}
.curr-location .details.more span.more {
  display: none;
}
.curr-location .details.more .description {
  display: block;
}
.curr-location.to .to {
  display: block;
}
.curr-location.br .br {
  display: block;
}
.curr-location.sc .sc {
  display: block;
}
article {
  position: relative;
}
article .event-wrapper section {
  display: none;
}
article .event-wrapper section .events {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
article .event-wrapper section .events .city {
  margin-left: 30px;
}
article .event-wrapper section.active {
  display: block;
}
article .event-wrapper time {
  display: block;
}
header {
  height: 50px;
}
header nav a {
  display: block;
  cursor: pointer;
}
header nav a,
header nav a:link,
header nav a:visited {
  color: #484848;
}
header nav a.menu-icn {
  height: 50px;
  width: 50px;
}
header nav .menu-back {
  float: left;
  background: url("/img/icn-back.png") 50% 50% no-repeat;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav > ul {
  float: right;
  list-style: none;
}
header nav > ul > li {
  display: block;
  position: relative;
}
header nav > ul > li ul {
  position: absolute;
  width: 200px;
  right: 0px;
  top: 45px;
  z-index: 99;
  background-color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
  display: none;
}
header nav > ul > li ul li {
  display: block;
}
header nav > ul > li ul li a {
  padding: 12px 35px 12px 10px;
  background: 94% 50% no-repeat url("/img/sandstone/arrow-go.png");
}
header nav > ul > li ul li a:hover {
  text-decoration: none;
  color: #fff;
  background-image: url("/img/sandstone/arrow-go.png"), -webkit-linear-gradient(#43a6e2, #247ac1);
  background-image: url("/img/sandstone/arrow-go.png"), -moz-linear-gradient(#43a6e2, #247ac1);
  background-image: url("/img/sandstone/arrow-go.png"), -o-linear-gradient(#43a6e2, #247ac1);
  background-image: url("/img/sandstone/arrow-go.png"), -ms-linear-gradient(#43a6e2, #247ac1);
  background-image: url("/img/sandstone/arrow-go.png"), linear-gradient(#43a6e2, #247ac1);
}
header nav > ul > li ul li:first-child a {
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
header nav > ul > li ul li:last-child a {
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
header nav > ul > li ul li:first-child:last-child a {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
header nav > ul > li:before {
  content: "";
  display: block;
  width: 28px;
  height: 10px;
  background: no-repeat url("/img/sandstone/menu-point.png");
  position: absolute;
  left: 12px;
  top: -10px;
}
header nav > ul > li:hover ul,
header nav > ul > li:active ul,
header nav > ul > li.hover ul {
  display: block;
}
header nav .menu-dropdown {
  background: url("/img/sandstone/icn-menu.png") 50% 8px no-repeat;
}
header nav .menu-dropdown:hover,
header nav .menu-dropdown:active {
  background-position: 50% -92px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.2), 0px -1px 0px 0px rgba(0,0,0,0.3) inset;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.2), 0px -1px 0px 0px rgba(0,0,0,0.3) inset;
  background: -webkit-linear-gradient(#277ac1, #236eae), #277ac1;
  background: -moz-linear-gradient(#277ac1, #236eae), #277ac1;
  background: -o-linear-gradient(#277ac1, #236eae), #277ac1;
  background: -ms-linear-gradient(#277ac1, #236eae), #277ac1;
  background: linear-gradient(#277ac1, #236eae), #277ac1;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 5px 10px;
  line-height: 1.1;
  text-decoration: none;
  min-width: 80px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  font-family: 'Open Sans Light', sans-serif;
  font-weight: bold;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
.btn:hover,
.btn:link:hover,
.btn:visited:hover,
.btn:focus,
.btn:link:focus,
.btn:visited:focus {
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1), inset 0px -2px 0px 0px rgba(0,0,0,0.2), inset 0px 12px 24px 2px #1f7bc9;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1), inset 0px -2px 0px 0px rgba(0,0,0,0.2), inset 0px 12px 24px 2px #1f7bc9;
  text-decoration: none;
}
.btn:focus,
.btn:link:focus,
.btn:visited:focus {
  outline-color: #484848;
}
.btn:active,
.btn:link:active,
.btn:visited:active {
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);
}
main h2 {
  text-align: center;
  text-transform: uppercase;
}
#view-home img {
  margin-top: -30px;
}
#view-home ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
#view-home ul li {
  display: block;
}
#view-home ul li a {
  display: block;
  font-family: 'Open Sans Light', sans-serif;
  font-size: 28px;
  padding: 7px 0 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  color: #fefefe;
  background-color: #0095dd;
}
#view-home ul li a:hover,
#view-home ul li a:active {
  text-decoration: none;
}
#view-home ul li:nth-child(2) a {
  background-color: #4d4e53;
  color: #ffcb00;
}
#view-home ul li:nth-child(3) a {
  background-color: #ffcb00;
  color: #4d4e53;
}
#view-home ul li:nth-child(4) a {
  background-color: #d7d3c8;
  color: #0095dd;
}
#view-questions .form-group {
  margin-bottom: 20px;
}
#view-questions .twitter-typeahead {
  width: 100%;
}
#view-questions .tt-dropdown-menu {
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
}
#view-questions .tt-suggestions p {
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 5px 10px;
}
#view-questions .tt-suggestions p:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#view-questions .tt-suggestions p:last-child {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#view-questions .tt-suggestions p:first-child:last-child {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#view-questions #mozillians-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}
#view-questions #mozillians-list li {
  clear: both;
  float: left;
  height: 50px;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}
#view-questions #mozillians-list img {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  float: left;
  height: 50px;
  margin-right: 15px;
  width: 50px;
}
#view-questions #mozillians-list .image-mask {
  background-color: transparent;
  border: 3px solid #fff;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  height: 53px;
  left: -1px;
  overflow: hidden;
  position: absolute;
  top: -1px;
  width: 53px;
  z-index: 2;
}
#view-questions #mozillians-list p {
  float: left;
  margin-top: 5px;
}
#view-questions #mozillians-list p > span {
  display: block;
}
#view-questions #mozillians-list .delete {
  display: inline-block;
  float: right;
  font-style: italic;
  padding: 3px 5px;
}
#splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  text-align: center;
  margin: 20px 0 0 0;
  display: none;
  background: url("/img/logo-home.png") no-repeat 50% 295px;
}
@media (max-width: 480px) {
  body {
    background: url("/img/back-repeat.jpg") repeat-x 0 0, #f5f1e8;
  }
  #splash-screen {
    display: block;
    cursor: progress;
  }
  #main,
  nav {
    display: none;
  }
  .state-ready #splash-screen {
    display: none;
  }
  .state-ready #main,
  .state-ready nav {
    display: block;
  }
}
