@import 'nib'
@import 'config'
@import 'fonts'
@import 'type'

html, body
	margin 0
	padding 0
	min-height 100%

body
	background #f5f1e8 url('/img/sandstone/bg-sand.png') repeat
	background url('/img/sandstone/bg-gradient-sand.png') repeat-x 0 0, url('/img/sandstone/bg-sand.png') repeat 0 0, #f5f1e8

.tt-hint
	display none

a
	color text-color-link
	text-decoration none
	&:hover, &:active
		color text-color-link-hover
		text-decoration underline

	&.row
		display block
		padding 12px 0

article
	position relative
	.schedule-header
		h3
			float left
			width 33.3%
	> section
		clear both
		float left
		position relative
		width 100%

		.events
			display none
			list-style-type none
			margin 0
			padding 0

		&.active
			.events
				display block

		time
			display block

header
	height 50px

	nav

		a
			display block
			cursor pointer
			&, &:link, &:visited
				color text-color-secondary

			&.menu-icn
				height 50px
				width 50px

		.menu-back
			float left
			background url('/img/icn-back.png') 50% 50% no-repeat

		ul
			margin 0
			padding 0

		> ul
			float right
			list-style none

			> li
				display block
				position relative

				ul
					position absolute
					width 200px
					right 0px
					top 45px
					z-index 99
					background-color #fff
					border-radius 10px
					box-shadow 0 1px 3px 0 rgba(0, 0, 0, .5)
					display none

					li
						display block

						a
							padding 12px 35px 12px 10px
							background 94% 50% no-repeat url('/img/sandstone/arrow-go.png')

							&:hover
								text-decoration none
								color #fff
								background-image url('/img/sandstone/arrow-go.png'), linear-gradient(#43a6e2, #247ac1)

						&:first-child
							a
								border-radius 10px 10px 0 0

						&:last-child
							a
								border-radius 0 0 10px 10px

						&:first-child:last-child
							a
								border-radius 10px 10px 10px 10px

				&:before
					content ""
					display block
					width 28px
					height 10px
					background no-repeat url('/media/img/sandstone/menu-point.png')
					position absolute
					left 12px
					top -10px

				&:hover, &:active, &.hover
					ul
						display block

		.menu-dropdown
			background url('/img/sandstone/icn-menu.png') 50% 8px no-repeat

			&:hover, &:active
				background-position 50% -92px

.btn, .btn:link, .btn:visited

	display inline-block
	border-radius 6px
	box-shadow 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px -1px 0px 0px rgba(0, 0, 0, 0.3) inset
	background linear-gradient(color-button-blue, darken(color-button-blue, 10%)), color-button-blue
	color #fff
	font-size 16px
	text-align center
	font-weight bold
	padding 5px 10px
	line-height 1.1
	text-decoration none
	min-width 80px
	border 0
	text-shadow 0 1px 0 rgba(0, 0, 0, 0.25)
	font-family 'Open Sans Light', sans-serif
	font-weight bold
	transition all linear 0.1s

	&:hover, &:focus
		box-shadow 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px saturate(color-button-blue, 10%)
		text-decoration none

	&:focus
		outline-color text-color-secondary

	&:active
		box-shadow inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2)

main
	h2
		margin-top -30px
		text-align center
		text-transform uppercase

#view-home

	img
		margin-top -30px

	ul
		list-style none
		margin 20px 0
		padding 0

		li
			display block

			a
				display block
				font-family 'Open Sans Light', sans-serif
				font-size 28px
				padding 7px 0 10px
				margin-bottom 10px
				box-shadow 0 1px 0 rgba(0, 0, 0, 0.1)
				color #fefefe
				background-color color-blue

				&:hover, &:active
					text-decoration none

			&:nth-child(2)
				a
					background-color color-dark-grey
					color color-yellow

			&:nth-child(3)
				a
					background-color color-yellow
					color color-dark-grey

			&:nth-child(4)
				a
					background-color color-light-grey
					color color-blue

#view-questions

	.form-group
		margin-bottom 20px
	.twitter-typeahead
		width 100%
	.tt-suggestions p
		background-color #fff
		border-radius 5px
		margin 2px 0
		padding 5px 10px

	#mozillians-list
		list-style-type none
		margin 0
		padding 10px 0
		li
			clear both
			float left
			height 50px
			margin-bottom 5px
			width 100%
		img
			border 3px solid #fff
			border-radius 100px
			display inline-block
			float left
			height 50px
			margin-right 15px
			width 50px
		p
			float left
			margin-top 5px
			> span
				display block
		.delete
			display inline-block
			float right
			font-style italic
			padding 3px 5px

#splash-screen
	position absolute
	top 0
	left 0
	height 100%
	width 100%
	z-index 99
	text-align center
	margin 20px 0 0 0
	display none
	background url('/img/logo-home.png') no-repeat 50% 295px

@media only screen and (max-width 480px)

	// Splash screen only for mobile screens
	#splash-screen
		display block
		cursor progress

	#main, nav
		display none

	// JS and Persona ready!
	.state-ready

		#splash-screen
			display none
		#main, nav
			display block
