html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
#main {
  margin-top: 0px;
}
#splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: #000;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  color: #fff;
  text-align: center;
}
