@font-face {
  font-family: 'Open Sans Light';
  src: url("/fonts/OpenSans-Light-webfont.eot");
  src: url("/fonts/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Light-webfont.woff") format('woff'), url("/fonts/OpenSans-Light-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Light-webfont.svg#OpenSansLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url("/fonts/OpenSans-Regular-webfont.eot");
  src: url("/fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Regular-webfont.woff") format('woff'), url("/fonts/OpenSans-Regular-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url("/fonts/OpenSans-LightItalic-webfont.eot");
  src: url("/fonts/OpenSans-LightItalic-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-LightItalic-webfont.woff") format('woff'), url("/fonts/OpenSans-LightItalic-webfont.ttf") format('truetype'), url("/fonts/OpenSans-LightItalic-webfont.svg#OpenSansRegular") format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Regular-webfont.eot");
  src: url("/fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Regular-webfont.woff") format('woff'), url("/fonts/OpenSans-Regular-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url("/fonts/OpenSans-Semibold-webfont.eot");
  src: url("/fonts/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Semibold-webfont.woff") format('woff'), url("/fonts/OpenSans-Semibold-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Bold-webfont.eot");
  src: url("/fonts/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Bold-webfont.woff") format('woff'), url("/fonts/OpenSans-Bold-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Italic-webfont.eot");
  src: url("/fonts/OpenSans-Italic-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/OpenSans-Italic-webfont.woff") format('woff'), url("/fonts/OpenSans-Italic-webfont.ttf") format('truetype'), url("/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format('svg');
  font-weight: normal;
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6,
.huge,
.large {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: normal;
  display: block;
  margin: 0 0 12px 0;
  line-height: 100%;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
  color: #484848;
}
.huge,
.huge h1 {
  font-size: 108px;
  letter-spacing: -4px;
  line-height: 100%;
}
.large,
.large h1 {
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 100%;
}
h1,
.huge h2,
.large h2,
.billboard h2 {
  font-size: 48px;
  letter-spacing: -2px;
}
h2 {
  font-size: 32px;
  letter-spacing: -1px;
}
h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.25px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
.small,
small {
  font-size: 12px;
  line-height: 16px;
}
.lead {
  font-size: 18px;
  color: #666;
  font-family: 'Open Sans Light', sans-serif;
}
.text-center {
  text-align: center;
}
.text-muted {
  color: #666;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
  background: #f5f1e8 url("/img/sandstone/bg-sand.png") repeat;
  background: url("/img/sandstone/bg-gradient-sand.png") repeat-x 0 0, url("/img/sandstone/bg-sand.png") repeat 0 0, #f5f1e8;
}
a {
  color: #0095dd;
  text-decoration: none;
}
a:hover,
a:active {
  color: #00539f;
  text-decoration: underline;
}
a.row {
  display: block;
  padding: 12px 0;
}
article {
  position: relative;
}
article .schedule-header h3 {
  float: left;
  width: 33.3%;
}
article > section {
  clear: both;
  float: left;
  position: relative;
  width: 100%;
}
article > section .events {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
article > section.active .events {
  display: block;
}
article > section time {
  display: block;
}
header {
  height: 50px;
}
header nav a {
  display: block;
  cursor: pointer;
}
header nav a,
header nav a:link,
header nav a:visited {
  color: #484848;
}
header nav a.menu-icn {
  height: 50px;
  width: 50px;
}
header nav .menu-back {
  float: left;
  background: url("/img/icn-back.png") 50% 50% no-repeat;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav > ul {
  float: right;
  list-style: none;
}
header nav > ul > li {
  display: block;
  position: relative;
}
header nav > ul > li ul {
  position: absolute;
  width: 200px;
  right: 0px;
  top: 45px;
  z-index: 99;
  background-color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
  display: none;
}
header nav > ul > li ul li {
  display: block;
}
header nav > ul > li ul li a {
  padding: 12px 35px 12px 10px;
  background: 94% 50% no-repeat url("/img/sandstone/arrow-go.png");
}
header nav > ul > li ul li a:hover {
  text-decoration: none;
  color: #fff;
  background-image: url("/img/sandstone/arrow-go.png"), -webkit-linear-gradient(#43a6e2, #247ac1);
  background-image: url("/img/sandstone/arrow-go.png"), -moz-linear-gradient(#43a6e2, #247ac1);
  background-image: url("/img/sandstone/arrow-go.png"), -o-linear-gradient(#43a6e2, #247ac1);
  background-image: url("/img/sandstone/arrow-go.png"), -ms-linear-gradient(#43a6e2, #247ac1);
  background-image: url("/img/sandstone/arrow-go.png"), linear-gradient(#43a6e2, #247ac1);
}
header nav > ul > li ul li:first-child a {
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
header nav > ul > li ul li:last-child a {
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
header nav > ul > li ul li:first-child:last-child a {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
header nav > ul > li:before {
  content: "";
  display: block;
  width: 28px;
  height: 10px;
  background: no-repeat url("/media/img/sandstone/menu-point.png");
  position: absolute;
  left: 12px;
  top: -10px;
}
header nav > ul > li:hover ul,
header nav > ul > li:active ul,
header nav > ul > li.hover ul {
  display: block;
}
header nav .menu-dropdown {
  background: url("/img/sandstone/icn-menu.png") 50% 8px no-repeat;
}
header nav .menu-dropdown:hover,
header nav .menu-dropdown:active {
  background-position: 50% -92px;
}
#view-home img {
  margin-top: -30px;
}
#view-home ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
#view-home ul li {
  display: block;
}
#view-home ul li a {
  display: block;
  color: #fefefe;
  background-color: #11acdd;
  font-family: 'Open Sans Light', sans-serif;
  font-size: 28px;
  padding: 7px 0 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
#view-home ul li a:hover,
#view-home ul li a:active {
  text-decoration: none;
}
#view-home ul li:nth-child(2) a {
  background-color: #4d4e53;
  color: #ffcb41;
}
#view-home ul li:nth-child(3) a {
  background-color: #ffcb41;
  color: #4d4e53;
}
#view-home ul li:nth-child(4) a {
  background-color: #e1ddd5;
  color: #11acdd;
}
#splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  text-align: center;
  margin: 20px 0 0 0;
  display: none;
  background: url("/img/logo-home.png") no-repeat 50% 295px;
}
@media only screen and (max-width: 480px) {
  #splash-screen {
    display: block;
    cursor: progress;
  }
  #main,
  nav {
    display: none;
  }
  .state-ready #splash-screen {
    display: none;
  }
  .state-ready #main,
  .state-ready nav {
    display: block;
  }
}
