
text-color-primary ?= #333
text-color-secondary ?= #484848
text-color-tertiary ?= #666
text-color-light ?= #bbb

text-color-link ?= #0095DD
text-color-link-hover ?= #00539F

color-dark-grey ?= #4D4E53
color-yellow ?= #FFCB00
color-blue ?= #0095DD
color-light-grey ?= #D7D3C8