
text-color-primary ?= #333
text-color-secondary ?= #484848
text-color-tertiary ?= #666
text-color-light ?= #BBB

text-color-link ?= #0095DD
text-color-link-hover ?= #00539F

color-dark-grey ?= #4D4E53
color-yellow ?= #FFCB00
color-blue ?= #0095DD
color-light-grey ?= #D7D3C8

color-button-blue ?= #277AC1

color-title-blue ?= #12AAE1
color-subtitle-yellow ?= #FFCD02
color-subtitle-gray ?= #555559
