
text-color-primary ?= #333
text-color-secondary ?= #484848
text-color-tertiary ?= #666
text-color-light ?= #BBB

color-dark-grey ?= #4D4E53
color-yellow ?= #FFCB00
color-blue ?= #0095DD
color-dark-blue ?= #00539F
color-light-grey ?= #D7D3C8

// TODO: Verify with Lee
color-purple ?= #312054
color-red ?= #d53c3f
color-orange ?= #e0602f

text-color-link ?= color-blue
text-color-link-hover ?= #00539F

color-button-blue ?= #277AC1

color-title-blue ?= #12AAE1
color-subtitle-yellow ?= #FFCD02
color-subtitle-grey ?= #555559
