<!DOCTYPE html>
<head>
		<meta charset="utf-8">
		<title>FireHug</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=false;">
		<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/hugs/app.css">
</head>
<body>
	<header class="navbar navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a href="./" class="navbar-brand">The Summit FireHug</a>
			</div>
		</div>
	</header>
	<div class="container" id="main">
		<div class="col-md-6 col-md-offset-3 text-center" id="panel-login">
			<a id="action-login">
				<img src="https://developer.mozilla.org/files/3961/persona_sign_in_black.png" alt="Sign in with Persona" />
			</a>
			<p class="text-muted">Sign in to gather and issue hugs!</p>
		</div>

		<div id="panel-welcome">
			<div class="col-md-6">
				<p class="lead">Hey, I just met you. This is crazy.</p>
				<p>
					<button class="btn btn-lg btn-block btn-primary" id="action-announce"><strong>Let's Hug!</strong></button>
				</p>
			</div>
			<div class="col-md-6">
				<div class="panel panel-info" id="panel-announce-empty-info">
					<div class="panel-heading">No hugs found, try again!</div>
					<div class="panel-body">Make sure you are pressing "Let's Hug" at the same time as people nearby to connect.</div>
				</div>
				<p class="text-muted">How to hug with other Mozillians:</p>
				<ol class="list-group">
					<li class="list-group-item">
						<strong>1.</strong> Gather together, having FireHug app open
					</li>
					<li class="list-group-item">
						<strong>2.</strong> Press <em>"Let's Hug!"</em> at the same time
					</li>
					<li class="list-group-item">
						<strong>3.</strong> Give a warm welcome hug
					</li>
				</ol>
			</div>
		</div>

		<div id="panel-announce" class="col-md-6 col-md-offset-3">
			<div class="list-group"></div>
			<p class="text-primary text-loading">Gathering and issuing hugs, please wait</p>
			<p class="text-success panels-success">Select the Mozillians that you hugged and want to keep!</p>
			<p class="panels-success">
				<button class="btn btn-block btn-success" id="action-announce-save">I'm Done</button>
			</p>
		</div>
	</div>
	<div id="loading">
		Fueling the fire …
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/hugs/app.js"></script>
</body>
</html>