html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#main {
	margin-top: 80px;
}

#loading {
	background: rgba(255, 255, 255, 0.3) url('flame.gif') 50% 50% no-repeat;
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #999;
	z-index: 999;
}

.text-loading {
	background: url('flame.gif') -2px 50% no-repeat;
	padding: 10px 10px 10px 55px;
	color: rgb(153, 153, 153);
	font-weight: bold;
	animation: flashing 0.5s linear 0s infinite;
}

.state-ready #loading {
	display: none;
}
.state-loading #loading {
	display: block;
	animation: fade-in 0.25s;
}

#main {
	display: none;
}
.state-ready #main {
	display: block;
	animation: fade-in 0.25s;
}

#action-login {
	display: block;
	text-align: center;
	padding: 25px;
	cursor: pointer;
}

.state-login-pending #panel-login {
	animation: shake 0.25s linear 0s infinite;
	opacity: 0.3;
}

#panel-announce .list-group-item {
	cursor: pointer;
}

.state-user #panel-welcome {
	display: block;
	animation: highlight 0.5s;
}
.state-user #panel-login {
	display: none;
}
.state-announce #panel-announce {
	display: block;
}
.state-announce-pending #panel-announce {
	opacity: 0.7;
}
.state-announce-pending #panel-announce .text-loading {
	display: block;
}
.state-announce-empty #panel-announce-empty-info {
	display: block;
	animation: highlight 0.5s;
}

#panel-welcome {
	display: none;
}
#panel-announce, .state-announce #panel-welcome {
	display: none;
}
#panel-announce-empty-info {
	display: none;
}
#panel-announce .text-loading {
	display: none;
}
.state-announce-pending #panel-announce .panels-success {
	display: none;
}

@keyframes shake {
	0% { transform:  translate(5px, 0); }
	50% { transform: translate(-5px, 0); }
	100% { transform: translate(0, 0); }
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes flashing {
	0% { color: rgb(153, 153, 153); }
	50% { color: rgb(130, 130, 130); }
	100% { color: rgb(153, 153, 153); }
}

@keyframes highlight {
	0% { background-color: rgba(255, 255, 0, 0.7); }
	100% { background-color: rgba(255, 255, 0, 0); }
}