<div class="row" id="view-getting-around">
  <article class="col-sm-8 col-sm-offset-2">
    <img src="/img/schedule-icon.png" class="title-icon">
    <h2>Getting Around</h2>
    <div class="content">
      <h3>How to have a great Summit in five easy steps</h3>
      <ul>
        <li>Participate</li>
        <li>Make room</li>
        <li>Practice respect</li>
        <li>Be helpful</li>
        <li>Have fun</li>
      </ul>
      <h3>At the Summit</h3>
      <ul>
        <li>Meet the speakers</li>
        <li>Get social</li>
      </ul>
      <h3>Travel Logistics</h3>
      <ul>
        <li>To/from hotel</li>
        <li>Hotel</li>
        <li>Venue</li>
        <li>Lounge hours</li>
      </ul>
      <h3>Travel Tips</h3>
      <ul>
        <li>Where to exchange money</li>
        <li>Weather</li>
        <li>Facts about the city</li>
        <li>How close is the nearest Mozilla space?</li>
        <li>Currency</li>
        <li>Parking</li>
        <li>Tipping</li>
        <li>Where to go for help</li>
      </ul>
      <h3>In case you missed it</h3>
      <ul>
        <li>Help</li>
        <li>Smoking</li>
        <li>Photos</li>
      </ul>
    </div>
  </article>
</div>
