<div class="row" id="view-home">
  <article class="col-sm-8 col-sm-offset-2 text-center">
    <img src="/img/logo-home.png" alt="Summit 2013" />

    <ul>
      <li>
        <a href="#!/schedule">Schedule</a>
      </li>

      <li>
        <a href="#!/around">Tips and Random Bits</a>
      </li>

      <li ng-show="user.activeDay">
        <a href="#!/dialog">Healthy Dialog</a>
      </li>

      <li ng-show="user.activeDay">
        <a href="#!/questions">3 Questions</a>
      </li>
    </ul>

    <p class="text-center text-muted" ng-hide="user.activeDay">
      More interactive content will be available from Friday to Sunday ("Healthy Dialog" and "3 Questions"), we hope to see you back then!  Now go have fun at the Summit.
    </p>

  </article>
</div>
