<div class="row" id="view-home">
  <article class="col-sm-8 col-sm-offset-2 text-center">
    <img src="/img/logo-home.png" alt="Summit 2013" />

    <ul>
      <li>
        <a href="#!/schedule">Schedule</a>
      </li>

      <li>
        <a href="#!/around">Tips &amp; Random Bits</a>
      </li>

      <li ng-show="showMore()">
        <a href="#!/dialog">Healthy Dialog <i class="icon-lock" ng-hide="user.activeDay"></i></a>
      </li>

      <li ng-show="showMore()">
        <a href="#!/questions">3 Questions <i class="icon-lock" ng-hide="user.activeDay"></i></a>
      </li>
    </ul>

    <p class="text-center text-muted" ng-hide="user">
      <i class="icon-lock"></i>: require login with your Mozillian email address and are only available Friday to Sunday.
    </p>

    <p class="text-center text-muted" ng-hide="!user || user.activeDay">
      <em>"Healthy Dialog"</em> and <em>"3 Questions"</em> are only available Friday to Sunday.
    </p>

  </article>
</div>
