<div class="row">
  <article class="col-sm-8 col-sm-offset-2">
    <p class="text-center">
      <img src="/img/logo-home.png" alt="Summit 2013" />
    </p>

    <a href="#!/schedule"><h3>Schedule</h3></a>

    <div class="row">
      <section class="col-sm-offset-2 col-sm-10">
        <h4>
          <em>Current:</em> Healthy Dialog Breakfast
          <small>8am - 8:45 – Grand East</small>
        </h4>
        <h4>
          <em>Next:</em> Getting Here
          <small>8am - 8:45 – Grand East</small>
        </h4>
      </section>
    </div>

    <a href="#!/around"><h3>Getting Around</h3></a>

    <a href="#!/dialog"><h3>Healthy Dialog</h3></a>

    <a href="#!/questions"><h3>3 Questions</h3></a>
  </article>
</div>