<div class="row" id="view-login">
	<article class="col-sm-8 col-sm-offset-2">

		<figure class="hexicon hexicon-medium">
			<span class="icon-smile"></span>
		</figure>

		<h2>Welcome</h2>
		<div class="text-center content">
			<p ng-hide="emailWarning">
				Please log in using the same email you are using for <a href="https://mozillians.org/" target="_blank">mozillians.org</a>.
			</p>
			<p ng-show="emailWarning" class="text-warning">
				You didn't use the same email address that you registered on mozillians.org. Please try again or <a href="mailto:summit2013-app@mozilla.com">contact support</a>!
			</p>
			<a id="action-login" ng-click="authenticate()" class="text-center">
				<img src="/img/persona.png" alt="Sign in with Persona" ng-click="authenticate()">
			</a>
		</div>
	</article>
</div>
