<article class="col-sm-4 col-sm-offset-4">
	<h2>Welcome</h2>
	<p class="lead">You say we're back at the surface, David? How can that be? How long have I been unconscious?</p>
	<p class="text-center">
		<a id="action-login" ng-click="authenticate()">
			<img src="https://developer.mozilla.org/files/3961/persona_sign_in_black.png" alt="Sign in with Persona" class="col-sm-12" />
		</a>
	</p>
	<p class="text-muted text-center">
		Please log in using the same email you are using for <a href="https://mozillians.org/" target="_blank">mozillians.org</a>!
	</p>

<ul>

</ul>

<script>

this.addEvents({
	'click:delegate(#action-login)': function(){


	}

});

<section view="rateme">


</section>

sect.view.addEvents({


});

sect.ratings_stuff


this.addBindings({
	'ratings_rateme:sort(top_rating):repeat(one-rating)': function(val){

		return false;
	}

})


<article>

</article>