<div class="row" id="view-login">
	<article class="col-sm-8 col-sm-offset-2">

		<figure class="hexicon hexicon-medium">
			<span class="icon-smile"></span>
		</figure>

		<h2>Welcome</h2>
		<div class="text-center content">
			<p class="lead">
				The Summit is a human conference. A meetup of grand proportions. A full 72 hours/4,320 minutes/259,200 seconds of magic, wholly dedicated to our awesome community and you.
			</p>
			<p ng-show="emailWarning" class="text-warning">
				You didn't use the same email address that you registered on mozillians.org. Please try again!
			</p>
			<p>
				<a ng-click="redirectToSchedule()" class="schedule-link">View the schedule</a>
			</p>
			<a id="action-login" ng-click="authenticate()" class="text-center">
				<img src="/img/persona.png" alt="Sign in with Persona" ng-click="authenticate()">
			</a>
			<p class="text-muted text-center small">
				Please log in using the same email you are using for <a href="https://mozillians.org/" target="_blank">mozillians.org</a> when logging in with Persona.
			</p>
		</div>
	</article>
</div>
