<div class="row" id="view-questions">
  <section class="col-sm-8 col-sm-offset-2">
    <img src="/img/questions-icon.png" class="title-icon">
    <h2>3 Questions</h2>

    <form role="form" name="questions" ng-submit="submit()">
      <div class="form-group">
        <img src="/img/question-1.png" class="question-icon">
        <h5>What is your mood?</h5>
        <div class="moods" id="mood-wrapper">
          <a class="mood {{ key }}" ng-click="setMood(key)" ng-repeat="(key, value) in moods">
            <span>{{ value }}</span>
          </a>
        </div>
        <div class="radio-inline">
          <input id="mood-{{ key }}" type="radio" name="mood" ng-model="mood" value="{{ key }}" ng-repeat="(key, value) in moods">
        </div>
      </div>
      <div class="form-group">
        <img src="/img/question-2.png" class="question-icon">
        <h5>Can we quote you?</h5>
        <textarea class="form-control" rows="2" placeholder="Share your thoughts …" ng-model="quote"></textarea>
      </div>
      <div class="form-group">
        <img src="/img/question-3.png" class="question-icon">
        <h5>Who have you recently met that had a positive impact on you?</h5>
        <input type="text" placeholder="Add a Mozillian at {{ locations[location] }}" class="form-control typeahead">
        <p ng-hide="influencers.length" class="text-center text-muted">
          <em>Enter Mozillian names above to add them here …</em>
        </p>
        <ol id="mozillians-list">
          <li ng-repeat="influencer in influencers track by $index">
            <img src="{{ influencer.avatar }}">
            <div class="image-mask"></div>
            <p>
              <span class="full-name">{{ influencer.value }}</span>
              <span class="country">{{ influencer.region }}{{ influencer.region ? ', ' : '' }}{{ influencer.country }}</span>
            </p>
            <a ng-click="removeUser($index)" class="delete">Remove</a>
          </li>
        </ol>
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </section>
</div>
