<div class="row">
  <article class="col-md-8 col-md-offset-2 col-xs-12 curr-location {{ location }}">
    <h2>Schedule</h2>

    <div class="event-wrapper" ng-switch="selected" ng-repeat="day in days" ng-animate="'animate'">
      <section ng-class="{ active : isActive(day) }">
        <div class="{{ day.name }} subtitle">
          <h3>
            <a ng-click="setActive($index - 1)" class="icon">
              <i class="icon-arrow-left" ng-click="setActive($index - 1)"></i> Prev</a>
            <a ng-click="setActive($index + 1)" class="icon">
              <i class="icon-arrow-right" ng-click="setActive($index - 1)"></i> Next</a>
            <span>{{ day.title }}</span>
          </h3>
        </div>
        <ul class="events {{ day.name }}">
          <li data-ng-repeat="(key, value) in day.value">
            <div data-ng-repeat="(k, v) in value">
              <div class="city {{ v.id }}">
                <h3>{{ v.name }}</h3>
                <time>{{ v.startTime }} - {{ v.endTime }}</time>
                <p>{{ v.location }}</p>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </article>
</div>