<div class="row">
  <article id="schedule-listing" class="col-sm-8 col-sm-offset-2 curr-location {{ location }}">
    <img src="/img/schedule-icon.png" class="title-icon">
    <h2>Schedule</h2>
    <div class="event-wrapper" ng-switch="selected" ng-repeat="day in days" ng-animate="'animate'">
      <section ng-class="{ active : isActive(day) }">
        <div class="{{ day.name }} subtitle">
          <h3>
            <a ng-click="setActive($index - 1)" class="icon">
              <i class="icon-arrow-left" ng-click="setActive($index - 1)"></i> Prev</a>
            <a ng-click="setActive($index + 1)" class="icon">
              <i class="icon-arrow-right" ng-click="setActive($index + 1)"></i> Next</a>
            <span>{{ day.title }}</span>
          </h3>
          <div id="schedule-locations" ng-class="{ active : isShowingLocations() }">
            <a ng-click="showLocations()" class="current"><span>{{ locations[location] }}</span>
              <i class="icon-sort-down"></i></a>
            <a class="location-items" ng-click="setLocation(key)" ng-class="{ active : isActiveLocation(key) }" ng-repeat="(key, value) in locations">{{ value }}</a>
          </div>
        </div>
        <ul class="events {{ day.name }}">
          <li data-ng-repeat="(key, value) in day.value">
            <div ng-click="expandDescription(v)" class="details {{ v.id }}" data-ng-repeat="(k, v) in value" ng-class="getDescriptionState(v)">
              <a class="expander" ng-class="{ active : hasDescriptionOrSpeaker(v) }">
                <span class="more">+</span>
                <span class="less">-</span>
              </a>
              <div class="city">
                <h3>{{ v.name }}</h3>
                <time>{{ v.startTime }} - {{ v.endTime }}</time>
                <p>{{ v.location }}</p>
                <div class="description" ng-class="! getDescriptionState(v)">
                  <div class="speaker" ng-bind-html="v.speaker"></div>
                  <div ng-bind-html="v.description"></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </article>
</div>
